<div class="row" style="margin-bottom: 20px">
<div class="col-6">
<form class="form-inline">
<div class="form-group">
<strong><label class="form-label" style="margin-right:15px">Select Major:</label></strong>
<select id="courseSelect" class="form-control" for="courseSelect">
<% 
config.tourneyData.forEach(function(major) { 
%>
<option value="<%= major.year + "/" + major.tid %>" <% 
if (major.selected) { 
%> selected <% 
} %> > <%= major.name + " " + major.year %></option>
<% }); %>
</select>
</form>
</div>
</div>
<div class="col-6 text-right" style="font-size:14px;">
<% if (config.page !== 'teams') { 
%> <a href="/tourney/<%= config.currentTourney.year + "/" + config.currentTourney.tid %>">Teams</a>
<% } else { %> Teams <% } 
%> | <% if (config.page !== 'leaderboard') { 
%> <a href="/leaderboard/<%= config.currentTourney.year + "/" + config.currentTourney.tid %>">Leaderboard</a>
<% } else { %> Leaderboard <% } 
%> 
</div>
</div>
<script>
document.getElementById("courseSelect").onchange = function(){
	<% if (config.page === 'teams') { %>
		window.location.href = '/tourney/' + this.value;
	<% } else { %>
		window.location.href = '/leaderboard/' + this.value;
	<% } %>
}
</script>
