# Node build artifacts
node_modules
generated
npm-debug.log
public/bundle.css
public/bundle.js

# Local development
*.env
*.dev
.DS_Store

# Docker
Dockerfile
docker-compose.yml
json/player_stats.json

